<input class="form-control" type="text" [(ngModel)]="serverName">
<button class="btn btn-primary" type="button" [disabled]="!allowNewServer" (click)="onCreateServer()">Click This Shit</button>
<p>{{ serverCreated }}</p>
<app-server></app-server>
<app-server></app-server>

<label>Username</label>
<input class="form-control" type="text" [(ngModel)]="username">
<p *ngIf="!isUsernameEmpty(); else noUsername">The Username is: {{ username }}</p>
<ng-template #noUsername>
  <p>No Username</p>
</ng-template>
<button class="btn btn-primary" type="button" (click)="clearUsername()" [disabled]="isUsernameEmpty()">ClickMe</button>

<br>
<button class="btn btn-primary" type="button" (click)="displayToggle()">Display Details</button>
<div *ngIf="displayDetails">
  <p>Secret Password: tuna</p>
  <p *ngFor="let i of clicks; index as ix" [ngClass]="{log: ix > 4 ? true : false}" [ngStyle]="{backgroundColor: ix > 4 ? 'blue' : 'white'}">{{ i }}</p>
</div>
